* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  position: sticky;
  top: 0;
  display: flex;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #000000,
    #434343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
  justify-content: space-between;
}

/* .logo img {
  width: 30%;
  margin: 0 0 0 20px;
} */
.logo img {
    width: 05%;
    margin: 0 0 0 20px;
}
.nav-bar {
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-link {
  list-style: none;
}

.nav {
  text-decoration: none;
  margin-left: 30px;
  margin-right: 40px;
  font-size: 20px;
  cursor: pointer;
  color: aliceblue;
  padding: 2px 10px;
  max-width: 30%;
  transition: 0.3s;
}

.nav:hover {
  color: grey;
  transition: 0.3s;
}

.background {
  background: url(./images/abstract-background-1024x273.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
}

.text-handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main-title {
  font-size: 80px;
}

.title-des {
  display: inline;
  color: aliceblue;
}

.sub-title {
  font-size: 30px;
  font-weight: bold;
}


.bsecond {
  margin-top: 30px;
}

.btn {
  margin: 0 10px;
  padding: 7px 30px;
  font-size: 18px;
  border: 2px solid transparent;
  border-radius: 13px;
  cursor: pointer;
}

.btn-1 {
  background-color: aliceblue;
  color: black;
  transition: 0.3s;
}

.btn-2 {
  background-color: rgb(1, 9, 22);
  color: aliceblue;
  transition: 0.3s;
}

.btn-1:hover {
  background-color: rgb(1, 9, 22);
  color: aliceblue;
}

.btn-2:hover {
  background-color: aliceblue;
  color: black;
}

.container-2{
    display: flex;
    margin: 20px 50px;
    align-items: center;
}

.a-img img{
border: 2px solid black;
border-radius:12px;
padding: 2px;
}

.a-text h2{
    font-size:35px;
    margin: 0 0 0 30px;

}

.a-text p{
    margin: 15px 0 0 30px;
    justify-content:center;

}

.container-rev{
    flex-direction: row-reverse;
    
}

.container-rev p{
    margin: 15px 0 0 0;
}

.container-rev h2{
    text-align:end;
    margin:0 30px 0 0;
}

.hori-row{
    width:30%;
    margin:auto;
}

.contact{
    height: 400px;
    background: -webkit-linear-gradient(
    to right,
    #000000,
    #434343
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.contact{
 display: flex;
 flex-direction: column;
}

.contact h1{
    text-align: center;
    margin-top:20px;
    color: aliceblue;
}

.form{
    display: flex;
    flex-direction: column; 
    margin-top: 40px;
   
}

.form p{
    margin: auto;
    margin-top: 25px;
    color: aliceblue;
    font-size:20px;
    margin-bottom: 10px;;
}


.form-control{
 width: 20%;
 padding: 6px;
margin: auto;
border: 1px solid #000000;
border-radius:13px;
}

.submit-btn{
    width: 70px;
    margin: 40px auto;
    padding: 5px;
    border: 1px solid #000000;
    border-radius:8px;
}

.submit-btn:hover{
background-color: #0D95E8;
}

.copyright{
    color: aliceblue;
    text-align: center;
}

.hamIcon{
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    display: none;
    position: absolute;
}


@media only screen and (max-width: 947px) {
  .container {
    flex-direction: column;
    position: relative;
  }
  /* .nav-link{
       display: none; 
  } */
  .logo img {
    width: 5%;
    display: none;
  }
  .nav-bar {
    flex-direction: column;
    display:none;
  }
  .mainMenu.toggleCls {
      display: block;
  }

  .nav-link {
    margin-top: 30px;
  }
  .nav {
    padding: 0px 7px;
  }
  .container-2{
      flex-direction: column;
  }
  .container-rev h2{
    text-align: start;
}
.container-2 p{
    margin: 15px 0 0 0;
}

.container-2 h2{
    text-align: start;
    margin: 0 0 0 0;
}
.form-control{
    width: 160px;
    padding: 6px;
   margin: auto;
   border: 1px solid #000000;
   border-radius:13px;
   }
   .hamIcon{
    display: block;
      
   }
}

